@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors, Lists, Color
        - Image
        - Anchor 
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Home 
        - Features
        - Work
        - Footer
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment
--------------------------------------------------------------*/


/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */

*, 
*::after, 
*:before {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #3F3C45;
}

/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */

/* ----- TYPOGRAPHY ----- */ 

h1 {
    font-size: 3rem;
    margin: 2.5em 0 .1em;
    font-weight: 400;
}

h2  {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 2em 0 0;
    padding: 15px 30px;
    color: #1EA78D;
    display: inline-block;
    border-bottom: 1.5px solid #717982;
    text-transform: uppercase;
}

h3 {
    font-size: 1.2rem;
    margin: 2em 0 1em;
    color: #1E1E1E;
}

p {
    font-size: 1rem;
    line-height: 1.7em;
    margin: 0;
    color: #717982;
}

@media screen and (min-width: 768px) {

    h1 {
        font-size: 3.5rem;
    }
  
    h2 {
        font-size: 2rem;
        margin-top: 2em;
    }

    h3 {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1024px) {

    h1 {
        font-size: 4.5rem;
    }
  
    h2 {
        font-size: 2rem;
        margin-top: 2em;
    }

    h3 {
        font-size: 1.4rem;
    }
}

/* ----- IMAGE ----- */

img {
    width: 6.25rem;
    padding: 0;
}

@media screen and (min-width: 1024px) {
    img {
        width: 6.5rem;
    }
}

/* ----- ANCHOR ----- */

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
}

/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
    width: 95%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.img-responsive {
    max-width: 100%;
}

[class*='col-'] {
    padding: 10px 5px;
}

.col-sm-1 {
    width: calc(100% * 1 / 12);
}

.col-sm-2 {
    width: calc(100% * 2 / 12);
}

.col-sm-3 {
    width: calc(100% * 3 / 12);
}

.col-sm-4 {
    width: calc(100% * 4 / 12);
}

.col-sm-5 {
    width: calc(100% * 5 / 12);
}

.col-sm-6 {
    width: calc(100% * 6 / 12);
}

.col-sm-7 {
    width: calc(100% * 7 / 12);
}

.col-sm-8 {
    width: calc(100% * 8 / 12);
}

.col-sm-9 {
    width: calc(100% * 9 / 12);
}

.col-sm-10 {
    width: calc(100% * 10 / 12);
}

.col-sm-11 {
    width: calc(100% * 11 / 12);
}

.col-sm-12 {
    width: calc(100% * 12 / 12);
}


@media screen and (min-width: 768px) {

    .wrapper {
        width: 80%;
    }

    [class*='col-'] {
        padding: 10px;
    }

    .col-md-1 {
        width: calc(100% * 1 / 12);
    }
    
    .col-md-2 {
        width: calc(100% * 2 / 12);
    }
    
    .col-md-3 {
        width: calc(100% * 3 / 12);
    }

    .col-md-4 {
        width: calc(100% * 4 / 12);
    }
    
    .col-md-5 {
        width: calc(100% * 5 / 12);
    }
    
    .col-md-6 {
        width: calc(100% * 6 / 12);
    }
    
    .col-md-7 {
        width: calc(100% * 7 / 12);
    }
    
    .col-md-8 {
        width: calc(100% * 8 / 12);
    }
    
    .col-md-9 {
        width: calc(100% * 9 / 12);
    }
    
    .col-md-10 {
        width: calc(100% * 10 / 12);
    }
    
    .col-md-11 {
        width: calc(100% * 11 / 12);
    }
    
    .col-md-12 {
        width: calc(100% * 12 / 12);
    }
}


@media screen and (min-width: 1024px) {

    .wrapper {
        width: 70%;
    }
    
    .col-lg-1 {
        width: calc(100% * 1 / 12);
    }
    
    .col-lg-2 {
        width: calc(100% * 2 / 12);
    }
    
    .col-lg-3 {
        width: calc(100% * 3 / 12);
    }

    .col-lg-4 {
        width: calc(100% * 4 / 12);
    }
    
    .col-lg-5 {
        width: calc(100% * 5 / 12);
    }
    
    .col-lg-6 {
        width: calc(100% * 6 / 12);
    }
    
    .col-lg-7 {
        width: calc(100% * 7 / 12);
    }
    
    .col-lg-8 {
        width: calc(100% * 8 / 12);
    }
    
    .col-lg-9 {
        width: calc(100% * 9 / 12);
    }
    
    .col-lg-10 {
        width: calc(100% * 10 / 12);
    }
    
    .col-lg-11 {
        width: calc(100% * 11 / 12);
    }
    
    .col-lg-12 {
        width: calc(100% * 12 / 12);
    }
}


/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */

#home,
#home p,
footer,
footer p {
    color: #fff;
}

#home p:last-child:before,
#home p:last-child:after,
footer {
    background-color: #1EA78D;
}

nav ,
nav ul,
footer ul {
    padding: 0;
}

nav ul,
footer ul {
    margin: 0;
}

nav li,
#home p:last-child,
footer li {
    display: inline-block;
}

#features .wrapper > header,
#work,
#home  {
    text-align: center;
}

#home p,
#home span {
    font-weight: 300;
}


/* ----- HOME ----- */

#home {
    background-color: #104F41;
    padding-top: 1px;
}

#home > div:first-child {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#home div:first-child {
    background-color: #10443F;
}

#home p {
    font-size: 1.5rem;
    margin: 0 0 .5em;
}

#home p:last-child {
    font-size: 1.2rem;
    margin-bottom: 4em;
    font-weight: 400;
}

nav li {
    padding: 0 15px;
}

#home span {
    color: #1EA78D;
}

#home p:last-child {
    position: relative;
    top: 0;
    left: 0;
}

#home p:last-child:before,
#home p:last-child:after {
    content: '';
    width: 25px;
    height: 2px;
    display: block;
    position: absolute;
    top: 16px;
}

#home p:last-child:before {
    left: -45px;
}

#home p:last-child:after {
    right: -45px;
}

@media screen and (min-width: 768px) {

    #home div .col-lg-6 {
        text-align: left;
    }

    #home nav ul {
        text-align: right;
    }

    #home li {
        padding: 10px 0 0 25px;
    }

    #home p {
        font-size: 2.1rem;
        line-height: 1em;
    }

    #home p:last-child {
        margin-bottom: 5em;
    }

    #home p:last-child:before {
        top: 10px;
        left: -45px;
    }
    
    #home p:last-child:after {
        top: 10px;
        right: -45px;
    }
}

@media screen and (min-width: 1024px) {

    #home div .col-lg-6 {
        text-align: left;
    }

    #home nav ul {
        text-align: right;
    }

    #home li {
        padding: 10px 0 0 30px;
    }

    #home p {
        font-size: 3rem;
        line-height: 1em;
    }
}

/* ----- FEATURES ----- */

#features {
    background-color: #F4F7F9;
}

#features section:last-child {
    margin: 0 0 3em;
}

/* ----- WORK ----- */

#work {
    font-weight: 700;
}

#work p {
    color: #717982;
}

#work .row {
    margin: 0 0 3em;
}

@media screen and (min-width: 768px) {
    #work .row {
        margin: 0 0 5em;
    }
}

@media screen and (min-width: 1024px) {
    #work .row {
        margin: 0 0 6em;
    }
}

/* ----- FOOTER ----- */

footer {
    border-top: 5px solid #10443F;
}

footer b {
    display: none;
}
footer ul {
    list-style-type: none;
    font-style: normal;
}

footer p {
    font-size: .9rem;
    margin: 1.5em 0 .8em;
}

footer li {
    padding-right: 5px;
}

footer div {
    margin: 3em 0;
}

/*--------------------------------------------------------------
    7.0 - UTILITY
-------------------------------------------------------------- */

/* ----- ALIGNMENT ----- */

.col-center {
    justify-content: center;
}
